<div class="wrapper" style="font-size: 0.9em; line-height: 1.05em;">
<div class="units-row units-padding">		
<div class="unit-40"><!--about-->
<h3><a id="about">about</a></h3>
<figure class="image-left">
<img class="avatar" src="/images/2017-11-20.png" height="120" width="120">
</figure>	
<p>I&rsquo;m <em>Pavel Rudnev</em>, and this is my personal website. I’m a  postdoctoral research fellow in linguistics in the School of Linguistics at the  National Research University Higher School of Economics in Moscow. I specialise in the interaction between syntactic structure and semantic interpretation. </p>
</div><!--end about-->
<div class="unit-30"><!--contact-->
<h3>elsewhere</h3>
<ul class="compact fa-ul">
<li><i class="fa-li fa fa-university fa-fw" style="color:#303030;font-size:80%;padding-top:6px;"></i>School of Linguistics, The National Research University Higher School of Economics, 21/4 Staraya Basmannaya Ulitsa, office A-519,
119571, Moscow, Russia.</li>
<li><i class="fa-li fa fa-envelope fa-fw" style="color:#303030;font-size:80%;padding-top:6px;"></i><a href="mailto:pasha.rudnev@gmail.com">pasha.rudnev@gmail.com</a></li> 
<li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#303030;font-size:80%;padding-top:6px;"></i><a href="https://twitter.com/pavelrudnev">@pavelrudnev</a> on Twitter.</li>
<li><i class="fa-li fa fa-newspaper-o fa-fw" style="color:#303030;font-size:80%;padding-top:6px;"></i><a href="https://hcommons.org/members/pavelrudnev">Humanities Commons</a></li>
<li><i class="fa-li ai ai-google-scholar-square fa-fw" style="color:#303030;font-size:80%;padding-top:6px;"></i><a href="https://scholar.google.ru/citations?user=Wc8rPe4AAAAJ&hl=en">Google Scholar</a></li>
<li><i class="fa-li ai ai-orcid fa-fw" style="color:#303030;font-size:80%;padding-top:6px;"></i><a href="http://orcid.org/0000-0001-8554-0943">ORCID</a> </li>
<li><i class=""></li>
</ul>
</div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>subscribe</h3>
				<p>To receive updates from this site, you can
				 follow me on Twitter at <a href="http://twitter.com/pavelrudnev"><i class="fa fa-twitter-square" style="color:#303030;"></i>&nbsp;@pavelrudnev</a>, where I&rsquo;ll update you if anything is posted.</p>
				<h3>search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="pavelrudnev.github.io"/>
			   <input type="hidden" name="ka" value="Alegreya"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="hidden" name="kt" value="Alegreya Sans"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
